<div class="contenedor grey darken-4 flex max-w-full max-h-full">
      <form [formGroup]="formulario" class="form">
          <h2 class="login-header">Inicia sesión</h2>
          <div class="col-12">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="ejemplo@empresa.com" formControlName="email">
          </div>
          <div class="col-12">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput placeholder="Contraseña" formControlName="password">
          </div>
          <div class="col-12">
            <button class="form-button grey darken-2" (click)="login()" [hidden]="formulario.invalid">Iniciar sesión</button>
          </div>
      </form>
  </div>
