<div class="grey darken-4">
<div class="">
    <mat-form-field class="example-form-field white-text">
      <label class="white-text"><mat-label>BUSCAR PERSONAJES</mat-label></label>
       <input style="border:0px" matInput type="text" [formControl]="buscarControl">
    </mat-form-field>
</div>

<div class="grid flex-auto align-items-center justify-content-center mt-4 max-w-full">
  <div class="col-fixed sm:min-w-max"  
    *ngFor="let personaje of Personajes$ | async">
        <mat-card class="sm:min-w-max align-self-center justify-content-center sm:min-w-max">
          <mat-card-header>
            <mat-card-title style="font-size:medium"> {{personaje.name}} </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="h-3" src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}">
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="w-10 aling-self-center">
          <a href="{{personaje.urls[0].url}}" target="_blank">Details</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>