<div class="img--principal">
    <img src="../../../../assets/img/M2.jpg" class="imagen">
</div>
<nav>
    <div class="nav-wrapper black white-text">
        <ul class="center z-depth-5">
            <li class="active">
                <a routerLink="personajes">Personajes</a></li>
            <li>
                <a routerLink="series">Series</a>
            </li>
            <li>
                <a routerLink="comics">Comics</a></li>  
        </ul>
        
        <form>
            <div class="right contenedor--logo-marvel">
                <img src="../../../../assets/img/logo-marvel.png" class="logo--marvel" alt="">
            </div>
          </form>
    </div>
</nav>
