.img--principal{
    height: 150px;
    width: 100%;
}
.imagen{
    height: 150px;
    width: 100%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
}
.logo--marvel{
    height: 50px;
    width: 300px;
}