contenido--principal{
    background-color: black;
}
img.mat-card-image{
    min-height: 250px;
    max-height: 250px;
    max-width: auto;
}
.example-card{
    background-color:whitesmoke;
}
.example-form-field{
    width: 30%;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:link, a:visited, a:active {
    text-decoration:none;
}