<div class="contenido--principal" style="background-color:wheat">
<mat-form-field class="example-form-field" color="primary">
  <mat-label>Buscar personajes</mat-label>
  <input matInput color="primary" type="text" [formControl]="buscarControl">
      <button *ngIf="buscarControl" matSuffix mat-icon-button aria-label="Clear" (click)="limpiarInput()">
        <mat-icon>close</mat-icon>
      </button>
</mat-form-field>

<div class="grid flex flex-wrap" style="width:100%">
<div class="col-4 justify-content-center"  
*ngFor="let personaje of Personajes$ | async">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title> {{personaje.name}} </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="h-3" src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}">
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">
          <a href="{{personaje.urls[0].url}}" target="_blank">Details</a></button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>